workflows/mercoia_precios_n8n_sin_credenciales.json
{
  "name": "MercoIA - Modulo de precios (sanitizado)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-mercoia-precios",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -880,
        -144
      ],
      "id": "f734f377-ddb4-594f-b890-9f107bc2f8db",
      "name": "Webhook2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "70bd6095-14ee-45f5-a07a-b3a985d75662",
              "name": "instancia_ws",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "6a0c05c2-1c31-4194-8b31-96689e6a4a57",
              "name": "telefono",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "9c7cea43-7334-4d49-a4f2-cd49f2b0a718",
              "name": "nombre_personal",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "1c52a170-f654-40a6-a257-347fafa0d794",
              "name": "fecha",
              "value": "={{ $json.body.date_time }}",
              "type": "string"
            },
            {
              "id": "cd297368-2ee0-48b9-a089-ba181c150f40",
              "name": "mensaje",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "e558fc2a-8f77-4f32-945f-ce294728e541",
              "name": "id_mensaje",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        -144
      ],
      "id": "5af5e168-3601-569f-8687-9d5479443dc2",
      "name": "Variables3"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Variables3').first().json.instancia_ws }}",
        "remoteJid": "={{ $('Variables3').first().json.telefono.replaceAll('@s.whatsapp.net', '') }}",
        "messageText": "={{ $json.respuesta_base }}",
        "options_message": {
          "delay": 1200
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1952,
        32
      ],
      "id": "a69cf09a-ab39-5a1c-84a9-f7780e7ddf10",
      "name": "Send Text"
    },
    {
      "parameters": {
        "url": "={{ $json.url_sipsa }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        784,
        48
      ],
      "id": "85c41157-089c-5b95-a05f-d0caa1941668",
      "name": "HTTP Request",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1008,
        32
      ],
      "id": "24cafd97-adbc-55d5-99a7-4e26bdb229e5",
      "name": "Descargar XLSX1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23e9a3cb-1a66-4b5e-a237-5186da416438",
              "name": "nombre",
              "value": "={{ $json.__EMPTY }}",
              "type": "string"
            },
            {
              "id": "25115d97-3141-47ba-be80-a6d9810d225f",
              "name": "precio_centroabastos",
              "value": "={{ $json.__EMPTY_5 }}",
              "type": "string"
            },
            {
              "id": "f12b69b3-7604-4f43-b360-d10e78af964b",
              "name": "var_centroabastos",
              "value": "={{ $json.__EMPTY_6 }}",
              "type": "string"
            },
            {
              "id": "232dd2ad-8a72-4e71-ab32-17d5104a0467",
              "name": "precio_corabastos",
              "value": "={{ $json.__EMPTY_3 }}",
              "type": "string"
            },
            {
              "id": "0c0d30b1-b5b9-4235-930e-2bdba2c97890",
              "name": "var_corabastos",
              "value": "={{ $json.__EMPTY_4 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        32
      ],
      "id": "c0161818-eba3-56e1-8623-f57dddcdd0bf",
      "name": "Leer XLSX1",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano-2025-04-14"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1504,
        224
      ],
      "id": "f1415291-c31a-5b6c-aaad-06489ea79c5f",
      "name": "OpenAI Chat Model2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Variables3').first().json.instancia_ws + \"_\" + $('Variables3').first().json.telefono }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1664,
        224
      ],
      "id": "0f92989c-5f77-5813-9ada-00a989b08113",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "jsCode": "const mensaje = $('Variables3').first().json.mensaje || \"\";\n\nfunction limpiar(texto) {\n  return String(texto || \"\")\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/\\*/g, \"\")\n    .replace(/[^\\w\\sñ]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction esProducto(row) {\n  const nombre = limpiar(row.nombre);\n\n  if (!nombre) return false;\n\n  const excluidos = [\n    \"martes\",\n    \"precio kg\",\n    \"precio\",\n    \"verduras y hortalizas\",\n    \"frutas frescas\",\n    \"tuberculos raices y platanos\",\n    \"variedad predominante\",\n    \"variacion porcentual\",\n    \"no disponible\"\n  ];\n\n  if (excluidos.some(e => nombre.includes(e))) return false;\n\n  return row.precio_centroabastos !== null || row.precio_corabastos !== null;\n}\n\nconst productos = $input.all()\n  .map((item, index) => ({\n    x: index,\n    nombre: item.json.nombre\n  }))\n  .filter(item => {\n    const row = $input.all()[item.x].json;\n    return esProducto(row);\n  });\n\nreturn [\n  {\n    json: {\n      mensaje_usuario: mensaje,\n      productos: productos,\n      instancia_ws: $('Variables3').first().json.instancia_ws,\n      telefono: $('Variables3').first().json.telefono,\n      id_mensaje: $('Variables3').first().json.id_mensaje\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        32
      ],
      "id": "93f5225c-2957-53a2-b6da-61526bdc7da4",
      "name": "Detectar nombre correcto"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un normalizador de nombres de productos agrícolas para MercoIA.\n\nTu única tarea es escoger cuál producto de la lista oficial quiso escribir el usuario.\n\nMensaje del usuario:\n{{ $json.mensaje_usuario }}\n\nLista oficial de productos disponibles:\n{{ JSON.stringify($json.productos) }}\n\nReglas obligatorias:\n1. Debes escoger únicamente un producto que exista en la lista oficial.\n2. No inventes productos.\n3. No respondas precios.\n4. No expliques nada.\n5. Responde únicamente en formato JSON válido.\n6. No uses markdown.\n7. Si el usuario escribe un producto con errores ortográficos, corrígelo usando la lista oficial.\n8. Si el usuario escribe \"aullama\", \"auyama\" o algo parecido, probablemente se refiere a \"Ahuyama\", si existe en la lista.\n9. Si el usuario escribe \"sanahoria\", probablemente se refiere a \"Zanahoria\", si existe en la lista.\n10. Si el usuario escribe \"sebolla\", probablemente se refiere a algún producto que empiece por \"Cebolla\", si existe en la lista.\n11. Si el usuario escribe \"papa\", NO debe confundirse con \"Papaya\".\n12. Si el usuario escribe \"papa negra\", debes escoger \"Papa negra\" si existe en la lista.\n13. Si el usuario escribe \"papa criolla\", debes escoger \"Papa criolla\" si existe en la lista.\n14. Si el usuario escribe \"plátano guineo\" o \"platano guineo\", debes escoger \"Plátano guineo\" si existe en la lista.\n15. Si el usuario escribe \"plátano hartón verde\", \"platano harton verde\", \"hartón verde\" o \"harton verde\", debes escoger \"Plátano hartón verde\" si existe en la lista.\n16. Si el usuario escribe una variedad específica que NO existe en la lista oficial, NO la reemplaces silenciosamente por una opción genérica.\n17. Por ejemplo, si el usuario escribe \"tomate cherry\" y en la lista solo existe \"Tomate\", responde encontrado=false.\n18. Por ejemplo, si el usuario escribe \"papa pastusa\" o \"papa pastosa\" y en la lista solo existen \"Papa negra\" y \"Papa criolla\", responde encontrado=false, salvo que el mensaje ya incluya claramente \"negra\" o \"criolla\".\n19. Si hay varios productos posibles, escoge el más específico y más cercano al texto del usuario.\n20. La fecha del mensaje, como \"ayer\", \"anteayer\", \"martes 16\" o \"hace dos días\", no debe afectar la selección del producto.\n\nEl formato exacto de respuesta debe ser:\n{\n  \"encontrado\": true,\n  \"x\": 0,\n  \"nombre_escogido\": \"Nombre exacto del producto\",\n  \"confianza\": 0.95\n}\n\nSi no encuentras una coincidencia razonable, responde:\n{\n  \"encontrado\": false,\n  \"x\": -1,\n  \"nombre_escogido\": null,\n  \"confianza\": 0\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1536,
        32
      ],
      "id": "dffb41bb-ee9b-50ff-8027-b28a33d64965",
      "name": "Agente Normalizador",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// ======================================================\n// CODE NODE: Generar URLs SIPSA candidatas\n// Objetivo:\n// - Si el usuario NO pide fecha: buscar la base SIPSA más reciente disponible.\n// - Si el usuario pide fecha: buscar exactamente esa fecha.\n// Soporta:\n//   hoy\n//   ayer\n//   antes de ayer / anteayer / antier\n//   hace 2 días / hace dos días\n//   martes 16\n//   del miércoles / miércoles pasado\n//   10/06/2026\n//   10 de junio\n// ======================================================\n\n// ---------- 1. Traer variables ----------\nconst entrada = $input.first()?.json || {};\nconst variables = $(\"Variables3\").first().json || {};\n\nconst instancia_ws = entrada.instancia_ws || variables.instancia_ws || \"\";\nconst telefono = entrada.telefono || variables.telefono || \"\";\nconst id_mensaje = entrada.id_mensaje || variables.id_mensaje || \"\";\n\nconst mensaje_usuario =\n  entrada.mensaje_usuario ||\n  entrada.mensaje ||\n  variables.mensaje ||\n  \"\";\n\n// ---------- 2. Configuración ----------\nconst maxDiasAtras = 20;\n\nconst mesesDane = [\n  \"ene\", \"feb\", \"mar\", \"abr\", \"may\", \"jun\",\n  \"jul\", \"ago\", \"sep\", \"oct\", \"nov\", \"dic\"\n];\n\nconst mesesTexto = {\n  \"enero\": 1,\n  \"febrero\": 2,\n  \"marzo\": 3,\n  \"abril\": 4,\n  \"mayo\": 5,\n  \"junio\": 6,\n  \"julio\": 7,\n  \"agosto\": 8,\n  \"septiembre\": 9,\n  \"setiembre\": 9,\n  \"octubre\": 10,\n  \"noviembre\": 11,\n  \"diciembre\": 12\n};\n\nconst numerosTexto = {\n  \"un\": 1,\n  \"uno\": 1,\n  \"una\": 1,\n  \"dos\": 2,\n  \"tres\": 3,\n  \"cuatro\": 4,\n  \"cinco\": 5,\n  \"seis\": 6,\n  \"siete\": 7,\n  \"ocho\": 8,\n  \"nueve\": 9,\n  \"diez\": 10,\n  \"once\": 11,\n  \"doce\": 12,\n  \"trece\": 13,\n  \"catorce\": 14,\n  \"quince\": 15,\n  \"dieciseis\": 16,\n  \"dieciséis\": 16,\n  \"diecisiete\": 17,\n  \"dieciocho\": 18,\n  \"diecinueve\": 19,\n  \"veinte\": 20,\n  \"veintiuno\": 21,\n  \"veintidos\": 22,\n  \"veintidós\": 22,\n  \"veintitres\": 23,\n  \"veintitrés\": 23,\n  \"veinticuatro\": 24,\n  \"veinticinco\": 25,\n  \"veintiseis\": 26,\n  \"veintiséis\": 26,\n  \"veintisiete\": 27,\n  \"veintiocho\": 28,\n  \"veintinueve\": 29,\n  \"treinta\": 30\n};\n\nconst diasSemanaNumero = {\n  \"domingo\": 0,\n  \"lunes\": 1,\n  \"martes\": 2,\n  \"miercoles\": 3,\n  \"miércoles\": 3,\n  \"jueves\": 4,\n  \"viernes\": 5,\n  \"sabado\": 6,\n  \"sábado\": 6\n};\n\n// ---------- 3. Funciones auxiliares ----------\nfunction limpiarTexto(texto) {\n  return String(texto || \"\")\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/[^\\w\\sñ\\/\\-\\.]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction capitalizar(texto) {\n  texto = String(texto || \"\");\n  return texto.charAt(0).toUpperCase() + texto.slice(1);\n}\n\nfunction obtenerFechaActualColombia() {\n  const partes = new Intl.DateTimeFormat(\"es-CO\", {\n    timeZone: \"America/Bogota\",\n    year: \"numeric\",\n    month: \"2-digit\",\n    day: \"2-digit\"\n  }).formatToParts(new Date());\n\n  return {\n    dia: Number(partes.find(p => p.type === \"day\").value),\n    mes: Number(partes.find(p => p.type === \"month\").value),\n    anio: Number(partes.find(p => p.type === \"year\").value)\n  };\n}\n\nfunction fechaUTCDesdePartes(anio, mes, dia) {\n  return new Date(Date.UTC(anio, mes - 1, dia));\n}\n\nfunction restarDias(fechaUTC, dias) {\n  return new Date(fechaUTC.getTime() - dias * 24 * 60 * 60 * 1000);\n}\n\nfunction obtenerPartesDesdeUTC(fechaUTC) {\n  const dia = fechaUTC.getUTCDate();\n  const mes = fechaUTC.getUTCMonth() + 1;\n  const anio = fechaUTC.getUTCFullYear();\n\n  const diaConCero = String(dia).padStart(2, \"0\");\n  const diaSinCero = String(dia);\n  const mesDane = mesesDane[mes - 1];\n\n  const diaSemana = new Intl.DateTimeFormat(\"es-CO\", {\n    weekday: \"long\",\n    timeZone: \"UTC\"\n  }).format(fechaUTC).toLowerCase();\n\n  const mesLargo = new Intl.DateTimeFormat(\"es-CO\", {\n    month: \"long\",\n    timeZone: \"UTC\"\n  }).format(fechaUTC).toLowerCase();\n\n  return {\n    dia,\n    mes,\n    anio,\n    diaConCero,\n    diaSinCero,\n    mesDane,\n    diaSemana,\n    mesLargo\n  };\n}\n\nfunction esFinDeSemana(diaSemana) {\n  return diaSemana.includes(\"sábado\") ||\n         diaSemana.includes(\"sabado\") ||\n         diaSemana.includes(\"domingo\");\n}\n\nfunction fechaISODesdeUTC(fechaUTC) {\n  const anio = fechaUTC.getUTCFullYear();\n  const mes = String(fechaUTC.getUTCMonth() + 1).padStart(2, \"0\");\n  const dia = String(fechaUTC.getUTCDate()).padStart(2, \"0\");\n  return `${anio}-${mes}-${dia}`;\n}\n\nfunction fechaLegibleLargaDesdeUTC(fechaUTC) {\n  const partes = obtenerPartesDesdeUTC(fechaUTC);\n  return `${capitalizar(partes.diaSemana)} ${partes.dia} de ${partes.mesLargo} de ${partes.anio}`;\n}\n\nfunction fechaValida(anio, mes, dia) {\n  const f = fechaUTCDesdePartes(anio, mes, dia);\n  return (\n    f.getUTCFullYear() === anio &&\n    f.getUTCMonth() + 1 === mes &&\n    f.getUTCDate() === dia\n  );\n}\n\nfunction diaSemanaUTC(fechaUTC) {\n  return fechaUTC.getUTCDay();\n}\n\nfunction encontrarUltimoDiaSemana(fechaBaseUTC, diaObjetivo, forzarPasado = false) {\n  const hoySemana = diaSemanaUTC(fechaBaseUTC);\n\n  let diferencia = hoySemana - diaObjetivo;\n\n  if (diferencia < 0) {\n    diferencia += 7;\n  }\n\n  if (forzarPasado && diferencia === 0) {\n    diferencia = 7;\n  }\n\n  return restarDias(fechaBaseUTC, diferencia);\n}\n\n// ---------- 4. Detectar fecha solicitada ----------\nfunction detectarFechaSolicitada(mensajeUsuario, fechaBaseUTC) {\n  const mensaje = limpiarTexto(mensajeUsuario);\n  const hoyUTC = fechaBaseUTC;\n  const anioActual = hoyUTC.getUTCFullYear();\n  const mesActual = hoyUTC.getUTCMonth() + 1;\n\n  // 1. Antes de ayer / anteayer / antier\n  // IMPORTANTE: esto va antes que \"ayer\", para evitar interpretar \"antes de ayer\" como \"ayer\".\n  if (\n    /\\bantes\\s+de\\s+ayer\\b/.test(mensaje) ||\n    /\\banteayer\\b/.test(mensaje) ||\n    /\\bantier\\b/.test(mensaje)\n  ) {\n    return {\n      tiene_fecha: true,\n      tipo_fecha: \"anteayer\",\n      descripcion_fecha: \"anteayer\",\n      offset_dias: 2,\n      fechaUTC: restarDias(hoyUTC, 2)\n    };\n  }\n\n  // 2. Hoy\n  if (/\\bhoy\\b/.test(mensaje)) {\n    return {\n      tiene_fecha: true,\n      tipo_fecha: \"hoy\",\n      descripcion_fecha: \"hoy\",\n      offset_dias: 0,\n      fechaUTC: hoyUTC\n    };\n  }\n\n  // 3. Ayer\n  if (/\\bayer\\b/.test(mensaje)) {\n    return {\n      tiene_fecha: true,\n      tipo_fecha: \"ayer\",\n      descripcion_fecha: \"ayer\",\n      offset_dias: 1,\n      fechaUTC: restarDias(hoyUTC, 1)\n    };\n  }\n\n  // 4. Hace X días\n  const matchHaceDias = mensaje.match(\n    /\\bhace\\s+(\\d+|un|uno|una|dos|tres|cuatro|cinco|seis|siete|ocho|nueve|diez|once|doce|trece|catorce|quince|dieciseis|diecisiete|dieciocho|diecinueve|veinte|veintiuno|veintidos|veintitres|veinticuatro|veinticinco|veintiseis|veintisiete|veintiocho|veintinueve|treinta)\\s+dias?\\b/\n  );\n\n  if (matchHaceDias) {\n    const valor = matchHaceDias[1];\n    const dias = /^\\d+$/.test(valor) ? Number(valor) : numerosTexto[valor];\n\n    if (Number.isFinite(dias) && dias >= 0) {\n      return {\n        tiene_fecha: true,\n        tipo_fecha: \"hace_dias\",\n        descripcion_fecha: `hace ${dias} día${dias === 1 ? \"\" : \"s\"}`,\n        offset_dias: dias,\n        fechaUTC: restarDias(hoyUTC, dias)\n      };\n    }\n  }\n\n  // 5. Fecha numérica: 10/06/2026, 10-06-2026, 10.06.2026 o 10/06\n  const matchNumerica = mensaje.match(/(?:^|\\D)(\\d{1,2})[\\/\\-\\.](\\d{1,2})(?:[\\/\\-\\.](\\d{2,4}))?(?:\\D|$)/);\n\n  if (matchNumerica) {\n    const dia = Number(matchNumerica[1]);\n    const mes = Number(matchNumerica[2]);\n\n    let anio = matchNumerica[3]\n      ? Number(matchNumerica[3])\n      : anioActual;\n\n    if (anio < 100) {\n      anio = 2000 + anio;\n    }\n\n    if (fechaValida(anio, mes, dia)) {\n      return {\n        tiene_fecha: true,\n        tipo_fecha: \"fecha_numerica\",\n        descripcion_fecha: `${String(dia).padStart(2, \"0\")}/${String(mes).padStart(2, \"0\")}/${anio}`,\n        offset_dias: null,\n        fechaUTC: fechaUTCDesdePartes(anio, mes, dia)\n      };\n    }\n  }\n\n  // 6. Fecha textual: 10 de junio, 10 junio, 10 de junio de 2026\n  const matchTexto = mensaje.match(/\\b(\\d{1,2})\\s+(?:de\\s+)?(enero|febrero|marzo|abril|mayo|junio|julio|agosto|septiembre|setiembre|octubre|noviembre|diciembre)(?:\\s+de)?\\s*(\\d{4})?\\b/);\n\n  if (matchTexto) {\n    const dia = Number(matchTexto[1]);\n    const mesTexto = matchTexto[2];\n    const mes = mesesTexto[mesTexto];\n    const anio = matchTexto[3] ? Number(matchTexto[3]) : anioActual;\n\n    if (fechaValida(anio, mes, dia)) {\n      return {\n        tiene_fecha: true,\n        tipo_fecha: \"fecha_textual\",\n        descripcion_fecha: `${dia} de ${mesTexto} de ${anio}`,\n        offset_dias: null,\n        fechaUTC: fechaUTCDesdePartes(anio, mes, dia)\n      };\n    }\n  }\n\n  // 7. Día de semana con número: martes 16, el martes 16\n  const matchDiaSemanaConNumero = mensaje.match(/\\b(lunes|martes|miercoles|miércoles|jueves|viernes|sabado|sábado|domingo)\\s+(\\d{1,2})(?:\\s+(?:de\\s+)?(enero|febrero|marzo|abril|mayo|junio|julio|agosto|septiembre|setiembre|octubre|noviembre|diciembre))?(?:\\s+de)?\\s*(\\d{4})?\\b/);\n\n  if (matchDiaSemanaConNumero) {\n    const diaSemanaTexto = matchDiaSemanaConNumero[1];\n    const dia = Number(matchDiaSemanaConNumero[2]);\n    const mes = matchDiaSemanaConNumero[3]\n      ? mesesTexto[matchDiaSemanaConNumero[3]]\n      : mesActual;\n    const anio = matchDiaSemanaConNumero[4]\n      ? Number(matchDiaSemanaConNumero[4])\n      : anioActual;\n\n    let fecha = fechaUTCDesdePartes(anio, mes, dia);\n\n    // Si la fecha resultante queda en el futuro y no se especificó mes,\n    // asumir que era del mes anterior.\n    if (!matchDiaSemanaConNumero[3] && fecha.getTime() > hoyUTC.getTime()) {\n      fecha = fechaUTCDesdePartes(anio, mes - 1, dia);\n    }\n\n    if (fechaValida(fecha.getUTCFullYear(), fecha.getUTCMonth() + 1, fecha.getUTCDate())) {\n      return {\n        tiene_fecha: true,\n        tipo_fecha: \"dia_semana_con_numero\",\n        descripcion_fecha: `${diaSemanaTexto} ${dia}`,\n        offset_dias: null,\n        fechaUTC: fecha\n      };\n    }\n  }\n\n  // 8. Día de semana solamente: del miércoles, miércoles pasado, el miércoles\n  const matchDiaSemana = mensaje.match(/\\b(lunes|martes|miercoles|miércoles|jueves|viernes|sabado|sábado|domingo)\\b/);\n\n  if (matchDiaSemana) {\n    const diaSemanaTexto = matchDiaSemana[1];\n    const diaObjetivo = diasSemanaNumero[diaSemanaTexto];\n\n    if (diaObjetivo !== undefined) {\n      const forzarPasado = mensaje.includes(\"pasado\");\n      const fecha = encontrarUltimoDiaSemana(hoyUTC, diaObjetivo, forzarPasado);\n\n      return {\n        tiene_fecha: true,\n        tipo_fecha: \"dia_semana\",\n        descripcion_fecha: forzarPasado ? `${diaSemanaTexto} pasado` : diaSemanaTexto,\n        offset_dias: null,\n        fechaUTC: fecha\n      };\n    }\n  }\n\n  return {\n    tiene_fecha: false,\n    tipo_fecha: \"sin_fecha\",\n    descripcion_fecha: null,\n    offset_dias: null,\n    fechaUTC: null\n  };\n}\n\n// ---------- 5. Crear candidatos de URL para una fecha ----------\nfunction crearCandidatosParaFecha(fechaUTC, opciones) {\n  const partes = obtenerPartesDesdeUTC(fechaUTC);\n\n  const fechaDaneSinCero = `${partes.diaSinCero}${partes.mesDane}${partes.anio}`;\n  const fechaDaneConCero = `${partes.diaConCero}${partes.mesDane}${partes.anio}`;\n\n  const fechaLegible = `${partes.diaConCero}/${String(partes.mes).padStart(2, \"0\")}/${partes.anio}`;\n  const fechaLegibleLarga = fechaLegibleLargaDesdeUTC(fechaUTC);\n\n  const candidatos = [];\n\n  candidatos.push({\n    fecha_dane: fechaDaneSinCero,\n    fecha_legible: fechaLegible,\n    fecha_legible_larga: fechaLegibleLarga,\n    fecha_objetivo_iso: fechaISODesdeUTC(fechaUTC),\n    dia_semana: partes.diaSemana,\n    url_sipsa: `https://www.dane.gov.co/files/operaciones/SIPSA/anex-SIPSADiario-${fechaDaneSinCero}.xlsx`,\n    ...opciones\n  });\n\n  if (fechaDaneConCero !== fechaDaneSinCero) {\n    candidatos.push({\n      fecha_dane: fechaDaneConCero,\n      fecha_legible: fechaLegible,\n      fecha_legible_larga: fechaLegibleLarga,\n      fecha_objetivo_iso: fechaISODesdeUTC(fechaUTC),\n      dia_semana: partes.diaSemana,\n      url_sipsa: `https://www.dane.gov.co/files/operaciones/SIPSA/anex-SIPSADiario-${fechaDaneConCero}.xlsx`,\n      ...opciones\n    });\n  }\n\n  return candidatos;\n}\n\n// ---------- 6. Fecha actual Colombia ----------\nconst hoyColombia = obtenerFechaActualColombia();\n\nconst fechaBaseUTC = fechaUTCDesdePartes(\n  hoyColombia.anio,\n  hoyColombia.mes,\n  hoyColombia.dia\n);\n\n// ---------- 7. Detectar fecha solicitada ----------\nconst fechaSolicitada = detectarFechaSolicitada(mensaje_usuario, fechaBaseUTC);\n\nlet candidatos = [];\n\n// Caso A: usuario pidió fecha específica\nif (fechaSolicitada.tiene_fecha) {\n  candidatos = crearCandidatosParaFecha(fechaSolicitada.fechaUTC, {\n    modo_busqueda_fecha: \"fecha_especifica\",\n    fecha_solicitada: true,\n    tipo_fecha_solicitada: fechaSolicitada.tipo_fecha,\n    descripcion_fecha_solicitada: fechaSolicitada.descripcion_fecha,\n    offset_dias_solicitado: fechaSolicitada.offset_dias,\n    instancia_ws,\n    telefono,\n    id_mensaje,\n    mensaje_usuario\n  });\n}\n\n// Caso B: usuario NO pidió fecha, buscar base más reciente\nelse {\n  for (let offset = 0; offset <= maxDiasAtras; offset++) {\n    const fechaCandidataUTC = restarDias(fechaBaseUTC, offset);\n    const partes = obtenerPartesDesdeUTC(fechaCandidataUTC);\n\n    if (esFinDeSemana(partes.diaSemana)) {\n      continue;\n    }\n\n    const nuevos = crearCandidatosParaFecha(fechaCandidataUTC, {\n      modo_busqueda_fecha: \"mas_reciente\",\n      fecha_solicitada: false,\n      tipo_fecha_solicitada: null,\n      descripcion_fecha_solicitada: null,\n      offset_dias_solicitado: offset,\n      es_fecha_hoy: offset === 0,\n      instancia_ws,\n      telefono,\n      id_mensaje,\n      mensaje_usuario\n    });\n\n    candidatos.push(...nuevos);\n  }\n}\n\n// ---------- 8. Salida ----------\nreturn candidatos.map((candidato, index) => ({\n  json: {\n    intento: index + 1,\n    ...candidato\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        32
      ],
      "id": "b4576b18-6113-5b98-ad13-89cd51096a42",
      "name": "Generar URLs SIPSA candidatas"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        624,
        32
      ],
      "id": "fdd07b62-7b7d-578c-aef3-f202af2473b9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Variables3').first().json.instancia_ws }}",
        "remoteJid": "={{ $('Variables3').first().json.telefono.replaceAll('@s.whatsapp.net', '') }}",
        "messageText": "={{ \n(() => {\n  const g = $('Generar URLs SIPSA candidatas').first().json || {};\n\n  if (g.fecha_solicitada === true) {\n    return `⚠️ No encontré una publicación SIPSA Diario para la fecha solicitada: ${g.fecha_legible_larga || g.fecha_legible}.\n\nEsto puede ocurrir porque ese día fue fin de semana, festivo o porque la fuente oficial no publicó base diaria para esa fecha.\n\nPuedes intentar con otra fecha o consultar el precio más reciente disponible. 🔎`;\n  }\n\n  return `Hola, soy asistente de MercoIA. 🌱\n\nNo pude encontrar una base SIPSA Diario reciente para consultar precios.\n\nEsto puede ocurrir porque:\n- No hay publicaciones disponibles en los últimos días consultados.\n- La fuente oficial del DANE cambió temporalmente la ruta del archivo.\n- Hubo un problema de conexión con la fuente oficial.\n\nPor favor intenta consultar nuevamente más tarde.`;\n})()\n}}",
        "options_message": {
          "delay": 1200
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        784,
        -192
      ],
      "id": "552d15c7-e340-55aa-8adb-29a4d274dd8d",
      "name": "Send Text - no se encontró base reciente"
    },
    {
      "parameters": {
        "jsCode": "// ======================================================\n// CODE NODE: Obtener precios reales y crear respuesta_base\n// Este nodo debe ir DESPUÉS del Agente IA normalizador\n// Incluye:\n// - Precio actual en negrilla para WhatsApp\n// - Variación en pesos usando Var % de SIPSA\n// - Corrige Var % cuando Excel entrega 0.04 como 4%\n// - Emojis para variación\n// - Sin mostrar porcentajes ni signos al usuario\n// - Regiones por mercado\n// - Artículos: del banano, de la papa, de la mora, etc.\n// ======================================================\n\n// ---------- 1. Obtener salida del Agente IA ----------\nconst entrada = $input.first()?.json || {};\n\nlet normalizado = null;\n\nif (\n  entrada.encontrado !== undefined &&\n  entrada.x !== undefined\n) {\n  normalizado = entrada;\n} else {\n  let raw = entrada.output \n    || entrada.text \n    || entrada.response \n    || entrada.result \n    || entrada.content \n    || \"\";\n\n  if (typeof raw === \"object\" && raw !== null) {\n    normalizado = raw;\n  } else {\n    raw = String(raw)\n      .replace(/```json/g, \"\")\n      .replace(/```/g, \"\")\n      .trim();\n\n    try {\n      normalizado = JSON.parse(raw);\n    } catch (error) {\n      const match = raw.match(/\\{[\\s\\S]*\\}/);\n\n      if (match) {\n        try {\n          normalizado = JSON.parse(match[0]);\n        } catch (error2) {\n          normalizado = null;\n        }\n      }\n    }\n  }\n}\n\n// ---------- 2. Traer datos originales de WhatsApp ----------\nconst variables = $(\"Variables3\").first().json || {};\n\nconst instancia_ws = variables.instancia_ws || \"\";\nconst telefono = variables.telefono || \"\";\nconst id_mensaje = variables.id_mensaje || \"\";\nconst mensaje_usuario = variables.mensaje || \"\";\n\n// ---------- 3. Traer metadatos de fecha desde Generar URLs ----------\nlet metaFecha = {};\n\ntry {\n  metaFecha = $(\"Generar URLs SIPSA candidatas\").first().json || {};\n} catch (error) {\n  metaFecha = {};\n}\n\nconst modoBusquedaFecha = metaFecha.modo_busqueda_fecha || \"mas_reciente\";\nconst usuarioPidioFecha = metaFecha.fecha_solicitada === true;\nconst fechaSolicitadaLegible = metaFecha.fecha_legible_larga || metaFecha.fecha_legible || null;\nconst fechaSolicitadaISO = metaFecha.fecha_objetivo_iso || null;\nconst descripcionFechaSolicitada = metaFecha.descripcion_fecha_solicitada || null;\n\n// ---------- 4. Funciones auxiliares ----------\nfunction limpiarTexto(texto) {\n  return String(texto || \"\")\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .trim();\n}\n\nfunction limpiarNombreProducto(nombre) {\n  return String(nombre || \"\")\n    .replace(/\\*/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction normalizarProducto(texto) {\n  return String(texto || \"\")\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/\\*/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction precioANumero(valor) {\n  if (valor === null || valor === undefined || valor === \"\") {\n    return null;\n  }\n\n  const texto = String(valor).trim().toLowerCase();\n\n  if (\n    texto === \"n.d.\" ||\n    texto === \"n.d\" ||\n    texto === \"-\" ||\n    texto.includes(\"no disponible\")\n  ) {\n    return null;\n  }\n\n  const numero = Number(\n    texto\n      .replace(/\\$/g, \"\")\n      .replace(/\\s/g, \"\")\n      .replace(/\\./g, \"\")\n      .replace(\",\", \".\")\n  );\n\n  return Number.isFinite(numero) ? Math.round(numero) : null;\n}\n\nfunction porcentajeANumero(valor) {\n  if (valor === null || valor === undefined || valor === \"\") {\n    return null;\n  }\n\n  const textoOriginal = String(valor).trim();\n  const contieneSimboloPorcentaje = textoOriginal.includes(\"%\");\n\n  const texto = textoOriginal\n    .toLowerCase()\n    .replace(\"%\", \"\")\n    .replace(/\\s/g, \"\")\n    .replace(\",\", \".\");\n\n  if (\n    texto === \"n.d.\" ||\n    texto === \"n.d\" ||\n    texto === \"-\" ||\n    texto.includes(\"no disponible\")\n  ) {\n    return null;\n  }\n\n  let numero = Number(texto);\n\n  if (!Number.isFinite(numero)) {\n    return null;\n  }\n\n  // Si Excel entrega 4% como 0.04, lo convertimos a 4.\n  if (!contieneSimboloPorcentaje && Math.abs(numero) > 0 && Math.abs(numero) <= 1) {\n    numero = numero * 100;\n  }\n\n  return numero;\n}\n\nfunction formatearNumeroCOP(numero) {\n  if (numero === null || numero === undefined || !Number.isFinite(numero)) {\n    return \"n.d.\";\n  }\n\n  return Math.round(numero).toLocaleString(\"es-CO\");\n}\n\nfunction formatearPrecioCOP(valor) {\n  const numero = precioANumero(valor);\n\n  if (numero === null) {\n    return \"n.d.\";\n  }\n\n  return formatearNumeroCOP(numero);\n}\n\nfunction calcularVariacionPesosDesdeVar(precioActualRaw, varPorcentajeRaw) {\n  const precioActual = precioANumero(precioActualRaw);\n  const varPorcentaje = porcentajeANumero(varPorcentajeRaw);\n\n  if (precioActual === null || varPorcentaje === null) {\n    return null;\n  }\n\n  const factor = 1 + varPorcentaje / 100;\n\n  if (!Number.isFinite(factor) || factor === 0) {\n    return null;\n  }\n\n  const precioAnterior = precioActual / factor;\n  const variacionPesos = precioActual - precioAnterior;\n\n  return Math.round(variacionPesos);\n}\n\nfunction construirTextoVariacion(precioActualRaw, varPorcentajeRaw) {\n  const variacionPesos = calcularVariacionPesosDesdeVar(precioActualRaw, varPorcentajeRaw);\n\n  if (variacionPesos === null) {\n    return `ℹ️ Variación: no disponible con respecto al día de mercado anterior.`;\n  }\n\n  const variacionAbs = formatearNumeroCOP(Math.abs(variacionPesos));\n\n  if (variacionPesos > 0) {\n    return `📈 Variación: subió *${variacionAbs} COP por kilogramo* con respecto al día de mercado anterior.`;\n  }\n\n  if (variacionPesos < 0) {\n    return `📉 Variación: disminuyó *${variacionAbs} COP por kilogramo* con respecto al día de mercado anterior.`;\n  }\n\n  return `➡️ Variación: se mantuvo igual con respecto al día de mercado anterior.`;\n}\n\nfunction construirNombreConArticulo(nombreProducto) {\n  const nombreOriginal = limpiarNombreProducto(nombreProducto);\n  const nombreNormalizado = normalizarProducto(nombreOriginal);\n\n  if (!nombreNormalizado) {\n    return \"del producto\";\n  }\n\n  const primeraPalabra = nombreNormalizado.split(\" \")[0];\n  const nombreParaFrase = nombreOriginal.toLowerCase();\n\n  const femeninos = [\n    \"ahuyama\",\n    \"arveja\",\n    \"arracacha\",\n    \"berenjena\",\n    \"cebolla\",\n    \"coliflor\",\n    \"curuba\",\n    \"espinaca\",\n    \"fresa\",\n    \"granadilla\",\n    \"guanabana\",\n    \"guayaba\",\n    \"habichuela\",\n    \"lechuga\",\n    \"mandarina\",\n    \"mora\",\n    \"naranja\",\n    \"papa\",\n    \"papaya\",\n    \"patilla\",\n    \"pera\",\n    \"pina\",\n    \"piña\",\n    \"remolacha\",\n    \"uchuva\",\n    \"uva\",\n    \"yuca\",\n    \"zanahoria\"\n  ];\n\n  const masculinos = [\n    \"aguacate\",\n    \"ajo\",\n    \"apio\",\n    \"banano\",\n    \"brocoli\",\n    \"brócoli\",\n    \"cilantro\",\n    \"coco\",\n    \"frijol\",\n    \"fríjol\",\n    \"limon\",\n    \"limón\",\n    \"lulo\",\n    \"maiz\",\n    \"maíz\",\n    \"mango\",\n    \"maracuya\",\n    \"maracuyá\",\n    \"melon\",\n    \"melón\",\n    \"pepino\",\n    \"pimenton\",\n    \"pimentón\",\n    \"platano\",\n    \"plátano\",\n    \"repollo\",\n    \"tomate\"\n  ];\n\n  if (femeninos.includes(primeraPalabra)) {\n    return `de la ${nombreParaFrase}`;\n  }\n\n  if (masculinos.includes(primeraPalabra)) {\n    return `del ${nombreParaFrase}`;\n  }\n\n  if (primeraPalabra.endsWith(\"a\")) {\n    return `de la ${nombreParaFrase}`;\n  }\n\n  if (\n    primeraPalabra.endsWith(\"o\") ||\n    primeraPalabra.endsWith(\"e\") ||\n    primeraPalabra.endsWith(\"n\") ||\n    primeraPalabra.endsWith(\"l\") ||\n    primeraPalabra.endsWith(\"r\")\n  ) {\n    return `del ${nombreParaFrase}`;\n  }\n\n  return `de ${nombreParaFrase}`;\n}\n\nfunction construirFraseMercado(region, mercado, nombreProducto, precioActualRaw, varPorcentajeRaw) {\n  const nombreConArticulo = construirNombreConArticulo(nombreProducto);\n  const precioFormateado = formatearPrecioCOP(precioActualRaw);\n  const textoVariacion = construirTextoVariacion(precioActualRaw, varPorcentajeRaw);\n\n  if (\n    precioFormateado === \"n.d.\" ||\n    precioFormateado === \"n.d\" ||\n    precioFormateado === null ||\n    precioFormateado === undefined ||\n    precioFormateado === \"\"\n  ) {\n    return `📍 En ${region}, según ${mercado}, no hay información disponible sobre el precio ${nombreConArticulo}.\n${textoVariacion}`;\n  }\n\n  return `📍 En ${region}, según ${mercado}, el precio ${nombreConArticulo} es de *${precioFormateado} COP por kilogramo*.\n${textoVariacion}`;\n}\n\nfunction obtenerFechaHoyColombia() {\n  const partes = new Intl.DateTimeFormat(\"es-CO\", {\n    timeZone: \"America/Bogota\",\n    year: \"numeric\",\n    month: \"2-digit\",\n    day: \"2-digit\"\n  }).formatToParts(new Date());\n\n  return {\n    dia: Number(partes.find(p => p.type === \"day\").value),\n    mes: Number(partes.find(p => p.type === \"month\").value),\n    anio: Number(partes.find(p => p.type === \"year\").value)\n  };\n}\n\nfunction parsearFechaReporte(textoFecha) {\n  const texto = limpiarTexto(textoFecha);\n\n  const meses = {\n    \"enero\": 1,\n    \"febrero\": 2,\n    \"marzo\": 3,\n    \"abril\": 4,\n    \"mayo\": 5,\n    \"junio\": 6,\n    \"julio\": 7,\n    \"agosto\": 8,\n    \"septiembre\": 9,\n    \"setiembre\": 9,\n    \"octubre\": 10,\n    \"noviembre\": 11,\n    \"diciembre\": 12\n  };\n\n  const match = texto.match(/(\\d{1,2})\\s+de\\s+([a-z]+)\\s+de\\s+(\\d{4})/);\n\n  if (!match) {\n    return null;\n  }\n\n  const dia = Number(match[1]);\n  const mesTexto = match[2];\n  const anio = Number(match[3]);\n\n  if (!meses[mesTexto]) {\n    return null;\n  }\n\n  return {\n    dia,\n    mes: meses[mesTexto],\n    anio\n  };\n}\n\nfunction fechaISODesdePartes(partes) {\n  if (!partes) return null;\n\n  const anio = String(partes.anio);\n  const mes = String(partes.mes).padStart(2, \"0\");\n  const dia = String(partes.dia).padStart(2, \"0\");\n\n  return `${anio}-${mes}-${dia}`;\n}\n\n// ---------- 5. Validar respuesta del normalizador ----------\nif (!normalizado) {\n  return [\n    {\n      json: {\n        encontrado: false,\n        x: -1,\n        nombre_escogido: null,\n        precio_centroabastos: null,\n        precio_corabastos: null,\n        instancia_ws,\n        telefono,\n        id_mensaje,\n        mensaje_usuario,\n        respuesta_base: \"No pude interpretar el producto solicitado. Por favor escribe solamente el nombre del producto que deseas consultar. 🔎\"\n      }\n    }\n  ];\n}\n\nconst x = Number(normalizado.x);\n\n// ---------- 6. Obtener filas reales desde el nodo Leer XLSX1 ----------\nconst filas = $(\"Leer XLSX1\").all();\n\nif (\n  !normalizado.encontrado ||\n  x === -1 ||\n  isNaN(x) ||\n  !filas[x] ||\n  !filas[x].json\n) {\n  return [\n    {\n      json: {\n        encontrado: false,\n        x: -1,\n        nombre_escogido: null,\n        precio_centroabastos: null,\n        precio_corabastos: null,\n        instancia_ws,\n        telefono,\n        id_mensaje,\n        mensaje_usuario,\n        respuesta_base: \"No encontré ese producto exacto en la base disponible. Por favor escribe nuevamente el nombre del producto que deseas consultar. 🔎\"\n      }\n    }\n  ];\n}\n\n// ---------- 7. Extraer fecha del reporte ----------\nconst fechaReporteTexto = filas[0]?.json?.nombre || \"último reporte disponible\";\n\nconst fechaReporte = parsearFechaReporte(fechaReporteTexto);\nconst fechaReporteISO = fechaISODesdePartes(fechaReporte);\n\nconst fechaHoy = obtenerFechaHoyColombia();\n\nlet reporteEsDeHoy = false;\n\nif (fechaReporte) {\n  reporteEsDeHoy =\n    fechaReporte.dia === fechaHoy.dia &&\n    fechaReporte.mes === fechaHoy.mes &&\n    fechaReporte.anio === fechaHoy.anio;\n}\n\n// ---------- 8. Extraer nombre, precios y Var % ----------\nconst fila = filas[x].json;\n\nconst nombreOriginal = fila.nombre || normalizado.nombre_escogido || \"Producto\";\nconst nombre = limpiarNombreProducto(nombreOriginal);\n\nconst precioCentroabastosRaw = fila.precio_centroabastos;\nconst precioCorabastosRaw = fila.precio_corabastos;\n\nconst varCentroabastosRaw = fila.var_centroabastos;\nconst varCorabastosRaw = fila.var_corabastos;\n\nconst precioCentroabastos = formatearPrecioCOP(precioCentroabastosRaw);\nconst precioCorabastos = formatearPrecioCOP(precioCorabastosRaw);\n\nconst variacionCentroabastosCOP = calcularVariacionPesosDesdeVar(\n  precioCentroabastosRaw,\n  varCentroabastosRaw\n);\n\nconst variacionCorabastosCOP = calcularVariacionPesosDesdeVar(\n  precioCorabastosRaw,\n  varCorabastosRaw\n);\n\nconst nombreConArticulo = construirNombreConArticulo(nombre);\n\n// ---------- 9. Crear mensaje de disponibilidad ----------\nlet mensajeDisponibilidad = \"\";\n\nif (usuarioPidioFecha && modoBusquedaFecha === \"fecha_especifica\") {\n  if (fechaReporteISO && fechaSolicitadaISO && fechaReporteISO === fechaSolicitadaISO) {\n    mensajeDisponibilidad = `📅 Información consultada para la fecha solicitada: ${fechaReporteTexto}.`;\n  } else {\n    mensajeDisponibilidad = `⚠️ Se solicitó información para ${fechaSolicitadaLegible || descripcionFechaSolicitada || \"la fecha indicada\"}.\n\nLa base encontrada corresponde a: ${fechaReporteTexto}.`;\n  }\n} else {\n  if (fechaReporte) {\n    if (reporteEsDeHoy) {\n      mensajeDisponibilidad = `✅ Información disponible para hoy: ${fechaReporteTexto}.`;\n    } else {\n      mensajeDisponibilidad = `⚠️ No encontré información disponible para el día de hoy.\n\nLa información más reciente disponible corresponde a: ${fechaReporteTexto}.`;\n    }\n  } else {\n    mensajeDisponibilidad = `ℹ️ Información disponible: ${fechaReporteTexto}.`;\n  }\n}\n\n// ---------- 10. Crear respuesta final ----------\nconst respuesta_base = String(`${mensajeDisponibilidad}\n\n📊 Informe de precios ${nombreConArticulo}:\n\n${construirFraseMercado(\"Santander\", \"Centroabastos S.A.\", nombre, precioCentroabastosRaw, varCentroabastosRaw)}\n\n${construirFraseMercado(\"Bogotá D.C.\", \"Corabastos S.A.\", nombre, precioCorabastosRaw, varCorabastosRaw)}\n\n🔎 ¿Deseas consultar otro precio?`).trim();\n\n// ---------- 11. Salida ----------\nreturn [\n  {\n    json: {\n      encontrado: true,\n      x,\n      nombre_original: nombreOriginal,\n      nombre_escogido: nombre,\n      nombre_con_articulo: nombreConArticulo,\n\n      precio_centroabastos: precioCentroabastos,\n      precio_corabastos: precioCorabastos,\n\n      var_centroabastos_raw: varCentroabastosRaw,\n      var_corabastos_raw: varCorabastosRaw,\n\n      variacion_centroabastos_cop: variacionCentroabastosCOP,\n      variacion_corabastos_cop: variacionCorabastosCOP,\n\n      fecha_reporte: fechaReporteTexto,\n      fecha_reporte_iso: fechaReporteISO,\n\n      fecha_solicitada: usuarioPidioFecha,\n      fecha_solicitada_iso: fechaSolicitadaISO,\n      fecha_solicitada_legible: fechaSolicitadaLegible,\n      descripcion_fecha_solicitada: descripcionFechaSolicitada,\n      modo_busqueda_fecha: modoBusquedaFecha,\n      reporte_es_de_hoy: reporteEsDeHoy,\n\n      confianza: normalizado.confianza ?? null,\n      instancia_ws,\n      telefono,\n      id_mensaje,\n      mensaje_usuario,\n      respuesta_base\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        32
      ],
      "id": "e8e611f2-be5c-5096-b89f-debc9e5139cf",
      "name": "Code: obtener precios reales"
    },
    {
      "parameters": {
        "jsCode": "// ======================================================\n// CODE NODE: Clasificar mensaje\n// Este nodo va después de Variables3\n// Detecta:\n// - mensaje propio del bot para ignorarlo\n// - saludo sin producto\n// - despedida\n// - consulta de producto\n// ======================================================\n\nconst entrada = $input.first()?.json || {};\nconst variables = $(\"Variables3\").first().json || {};\n\nconst instancia_ws = entrada.instancia_ws || variables.instancia_ws || \"\";\nconst telefono = entrada.telefono || variables.telefono || \"\";\nconst id_mensaje = entrada.id_mensaje || variables.id_mensaje || \"\";\nconst mensaje_usuario =\n  entrada.mensaje_usuario ||\n  entrada.mensaje ||\n  variables.mensaje ||\n  \"\";\n\n// ---------- 1. Detectar si el mensaje fue enviado por la propia instancia ----------\nfunction obtenerFromMe() {\n  const posibles = [\n    entrada.fromMe,\n    entrada.from_me,\n    entrada.key?.fromMe,\n    variables.fromMe,\n    variables.from_me,\n    variables.key?.fromMe\n  ];\n\n  for (const valor of posibles) {\n    if (valor === true || valor === \"true\") return true;\n    if (valor === false || valor === \"false\") return false;\n  }\n\n  // Intento opcional de leer desde Webhook2 si existe.\n  try {\n    const w = $(\"Webhook2\").first().json || {};\n    const v =\n      w.body?.data?.key?.fromMe ??\n      w.body?.key?.fromMe ??\n      w.data?.key?.fromMe ??\n      w.key?.fromMe;\n\n    if (v === true || v === \"true\") return true;\n    if (v === false || v === \"false\") return false;\n  } catch (error) {}\n\n  return false;\n}\n\nconst fromMe = obtenerFromMe();\n\n// ---------- 2. Función para limpiar texto ----------\nfunction limpiar(texto) {\n  return String(texto || \"\")\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/[^\\w\\sñ]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nconst mensaje = limpiar(mensaje_usuario);\n\n// ---------- 3. Si es mensaje propio, se ignora ----------\nif (fromMe) {\n  return [\n    {\n      json: {\n        ...entrada,\n        ...variables,\n        instancia_ws,\n        telefono,\n        id_mensaje,\n        mensaje_usuario,\n        mensaje_limpio: mensaje,\n        fromMe: true,\n        tipo_mensaje: \"ignorar\",\n        es_saludo_sin_producto: false,\n        es_despedida: false,\n        es_consulta: false,\n        respuesta_base: \"\"\n      }\n    }\n  ];\n}\n\n// ---------- 4. Detectar despedidas ----------\nconst despedidas = [\n  \"gracias\",\n  \"muchas gracias\",\n  \"mil gracias\",\n  \"ok gracias\",\n  \"listo gracias\",\n  \"perfecto gracias\",\n  \"muy amable\",\n  \"hasta luego\",\n  \"hasta pronto\",\n  \"nos vemos\",\n  \"chao\",\n  \"chau\",\n  \"adios\",\n  \"bye\",\n  \"eso era\",\n  \"eso es todo\",\n  \"no mas\",\n  \"nada mas\"\n];\n\nconst esDespedida = despedidas.some(d => mensaje.includes(limpiar(d)));\n\n// ---------- 5. Detectar saludos ----------\nconst saludos = [\n  \"hola\",\n  \"holi\",\n  \"holis\",\n  \"hols\",\n  \"hla\",\n  \"ola\",\n  \"olaa\",\n  \"buenas\",\n  \"buenos dias\",\n  \"buen dia\",\n  \"buenas tardes\",\n  \"buenas noches\",\n  \"saludos\",\n  \"que tal\",\n  \"como estas\",\n  \"como esta\"\n];\n\nconst palabrasRelleno = [\n  \"hola\",\n  \"holi\",\n  \"holis\",\n  \"hols\",\n  \"hla\",\n  \"ola\",\n  \"olaa\",\n  \"buenas\",\n  \"buenos\",\n  \"dias\",\n  \"dia\",\n  \"tardes\",\n  \"noches\",\n  \"saludos\",\n  \"que\",\n  \"tal\",\n  \"como\",\n  \"estas\",\n  \"esta\",\n  \"por\",\n  \"favor\",\n  \"gracias\",\n  \"buen\",\n  \"muy\",\n  \"amable\"\n];\n\nconst contieneSaludo = saludos.some(s => mensaje.includes(limpiar(s)));\n\nconst palabras = mensaje.split(\" \").filter(Boolean);\n\nconst palabrasImportantes = palabras.filter(p => {\n  return !palabrasRelleno.includes(p);\n});\n\nconst mensajesSoloSaludo = [\n  \"hola\",\n  \"holi\",\n  \"holis\",\n  \"hols\",\n  \"hla\",\n  \"ola\",\n  \"olaa\",\n  \"buenas\",\n  \"buenos dias\",\n  \"buen dia\",\n  \"buenas tardes\",\n  \"buenas noches\",\n  \"saludos\",\n  \"que tal\"\n];\n\nconst esMensajeSoloSaludo = mensajesSoloSaludo.includes(mensaje);\n\nconst esSaludoSinProducto =\n  !esDespedida &&\n  (\n    esMensajeSoloSaludo ||\n    (contieneSaludo && palabrasImportantes.length === 0)\n  );\n\n// ---------- 6. Clasificar mensaje ----------\nlet tipo_mensaje = \"consulta\";\nlet respuesta_base = \"\";\n\nif (esDespedida) {\n  tipo_mensaje = \"despedida\";\n\n  respuesta_base = `🙌 ¡Con gusto!\n\nGracias por usar MercoIA. 🌱\n\nEstaré disponible cuando desees consultar nuevamente precios mayoristas de productos agropecuarios. 📊🧺\n\n¡Que tengas un excelente día! ✨`;\n}\n\nelse if (esSaludoSinProducto) {\n  tipo_mensaje = \"saludo_sin_producto\";\n\n  respuesta_base = `👋 Hola, soy la asistente de precios de MercoIA. 🌱\n\nPuedo ayudarte a consultar precios mayoristas de productos agropecuarios con base en la información disponible de SIPSA. 📊🧺\n\nPara comenzar, escribe solamente el nombre del producto que deseas consultar. 🔎\n\nPor ejemplo:\n🥔 Papa\n🍌 Banano\n🥕 Zanahoria\n🍅 Tomate`;\n}\n\n// ---------- 7. Salida ----------\nreturn [\n  {\n    json: {\n      ...entrada,\n      ...variables,\n      instancia_ws,\n      telefono,\n      id_mensaje,\n      mensaje_usuario,\n      mensaje_limpio: mensaje,\n      fromMe: false,\n      tipo_mensaje,\n      es_saludo_sin_producto: tipo_mensaje === \"saludo_sin_producto\",\n      es_despedida: tipo_mensaje === \"despedida\",\n      es_consulta: tipo_mensaje === \"consulta\",\n      respuesta_base\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        -144
      ],
      "id": "0130aa16-7ad8-5b8d-bcbc-85bb522f30b3",
      "name": "Code: Detectar saludo"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4a8698e5-6108-4e46-b932-60a4f69230f5",
                    "leftValue": "={{ $json.tipo_mensaje }}",
                    "rightValue": "saludo_sin_producto",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4f8a5165-2322-4b6b-9992-20190808f723",
                    "leftValue": "={{ $json.tipo_mensaje }}",
                    "rightValue": "despedida",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "de2786bb-3c3c-4d0c-9b4a-c8bd9a2a23e0",
                    "leftValue": "={{ $json.tipo_mensaje }}",
                    "rightValue": "consulta",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -208,
        -160
      ],
      "id": "62753860-bea3-5600-9ba3-6651b22e1e4d",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $json.instancia_ws }}",
        "remoteJid": "={{ $json.telefono.replaceAll('@s.whatsapp.net', '') }}",
        "messageText": "={{ $json.respuesta_base }}",
        "options_message": {
          "delay": 1200
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        0,
        -320
      ],
      "id": "a36c8f70-52b3-5966-a16d-4a72e07a0aff",
      "name": "Send Text - bienvenida"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $json.instancia_ws }}",
        "remoteJid": "={{ $json.telefono.replaceAll('@s.whatsapp.net', '') }}",
        "messageText": "={{ $json.respuesta_base }}",
        "options_message": {
          "delay": 1200
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        0,
        -160
      ],
      "id": "12ad836b-1175-515f-b94a-01462b1e9fe7",
      "name": "Send Text - despedida"
    },
    {
      "parameters": {
        "jsCode": "// ======================================================\n// CODE NODE: Detectar producto ambiguo con contexto temporal\n// Este nodo va después del Switch, en la rama \"consulta\",\n// y antes de \"Generar URLs SIPSA candidatas\".\n//\n// Corrige casos como:\n// Usuario: precio de la papa anteayer\n// Bot: ¿Papa negra o papa criolla?\n// Usuario: negra\n// Internamente se interpreta como:\n// precio de la papa anteayer papa negra\n// ======================================================\n\nconst entrada = $input.first()?.json || {};\nconst variables = $(\"Variables3\").first().json || {};\n\nconst instancia_ws = entrada.instancia_ws || variables.instancia_ws || \"\";\nconst telefono = entrada.telefono || variables.telefono || \"\";\nconst id_mensaje = entrada.id_mensaje || variables.id_mensaje || \"\";\n\nconst mensaje_usuario_original =\n  entrada.mensaje_usuario ||\n  entrada.mensaje ||\n  variables.mensaje ||\n  \"\";\n\n// ---------- 1. Memoria temporal interna ----------\nconst staticData = $getWorkflowStaticData(\"global\");\n\nif (!staticData.contextos_ambiguos_mercoia) {\n  staticData.contextos_ambiguos_mercoia = {};\n}\n\nconst telefonoKey = String(telefono || \"sin_telefono\")\n  .replace(\"@s.whatsapp.net\", \"\")\n  .replace(/\\D/g, \"\");\n\nconst claveContexto = `ambiguo_${telefonoKey}`;\n\n// Tiempo máximo para recordar la pregunta ambigua: 20 minutos\nconst TIEMPO_MAXIMO_MS = 20 * 60 * 1000;\n\n// ---------- 2. Funciones auxiliares ----------\nfunction limpiar(texto) {\n  return String(texto || \"\")\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/[^\\w\\sñ]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction contextoVigente(contexto) {\n  if (!contexto || !contexto.creado_en) return false;\n\n  const edad = Date.now() - Number(contexto.creado_en);\n\n  return edad >= 0 && edad <= TIEMPO_MAXIMO_MS;\n}\n\nfunction detectarRespuestaPapa(mensajeLimpio) {\n  const palabras = mensajeLimpio.split(\" \").filter(Boolean);\n\n  if (palabras.includes(\"criolla\")) {\n    return \"papa criolla\";\n  }\n\n  if (palabras.includes(\"negra\") || palabras.includes(\"negro\")) {\n    return \"papa negra\";\n  }\n\n  // Errores comunes\n  if (mensajeLimpio.includes(\"nrgr\") || mensajeLimpio.includes(\"negr\")) {\n    return \"papa negra\";\n  }\n\n  if (mensajeLimpio.includes(\"criol\")) {\n    return \"papa criolla\";\n  }\n\n  return null;\n}\n\nfunction detectarRespuestaPlatano(mensajeLimpio) {\n  const palabras = mensajeLimpio.split(\" \").filter(Boolean);\n\n  if (palabras.includes(\"guineo\")) {\n    return \"platano guineo\";\n  }\n\n  if (\n    palabras.includes(\"harton\") ||\n    palabras.includes(\"hartón\") ||\n    palabras.includes(\"verde\")\n  ) {\n    return \"platano harton verde\";\n  }\n\n  if (mensajeLimpio.includes(\"hart\")) {\n    return \"platano harton verde\";\n  }\n\n  return null;\n}\n\n// ---------- 3. Revisar contexto pendiente ----------\nconst mensajeActualLimpio = limpiar(mensaje_usuario_original);\n\nlet contextoPendiente = staticData.contextos_ambiguos_mercoia[claveContexto] || null;\n\nif (contextoPendiente && !contextoVigente(contextoPendiente)) {\n  delete staticData.contextos_ambiguos_mercoia[claveContexto];\n  contextoPendiente = null;\n}\n\nif (contextoPendiente) {\n  let productoResuelto = null;\n\n  if (contextoPendiente.grupo_ambiguo === \"papa\") {\n    productoResuelto = detectarRespuestaPapa(mensajeActualLimpio);\n  }\n\n  if (contextoPendiente.grupo_ambiguo === \"platano\") {\n    productoResuelto = detectarRespuestaPlatano(mensajeActualLimpio);\n  }\n\n  if (productoResuelto) {\n    const mensajeConContexto = `${contextoPendiente.mensaje_original} ${productoResuelto}`.trim();\n\n    delete staticData.contextos_ambiguos_mercoia[claveContexto];\n\n    return [\n      {\n        json: {\n          ...entrada,\n          instancia_ws,\n          telefono,\n          id_mensaje,\n\n          mensaje_usuario_original,\n          mensaje_usuario: mensajeConContexto,\n          mensaje_limpio: limpiar(mensajeConContexto),\n\n          es_producto_ambiguo: false,\n          grupo_ambiguo: null,\n          producto_resuelto_desde_contexto: true,\n          producto_resuelto: productoResuelto,\n          contexto_usado: true,\n\n          respuesta_base: \"\"\n        }\n      }\n    ];\n  }\n}\n\n// ---------- 4. Detectar producto ambiguo en mensaje actual ----------\nconst palabrasRelleno = [\n  \"precio\",\n  \"precios\",\n  \"valor\",\n  \"costo\",\n  \"cuanto\",\n  \"vale\",\n  \"esta\",\n  \"consultar\",\n  \"consulta\",\n  \"quiero\",\n  \"quisiera\",\n  \"saber\",\n  \"del\",\n  \"de\",\n  \"la\",\n  \"el\",\n  \"un\",\n  \"una\",\n  \"por\",\n  \"favor\",\n  \"me\",\n  \"puedes\",\n  \"dar\",\n  \"decir\",\n  \"informar\",\n  \"hoy\",\n  \"ayer\",\n  \"anteayer\",\n  \"antier\",\n  \"antes\",\n  \"hace\",\n  \"dias\",\n  \"dia\",\n  \"dos\",\n  \"tres\",\n  \"cuatro\",\n  \"cinco\",\n  \"seis\",\n  \"siete\",\n  \"ocho\",\n  \"nueve\",\n  \"diez\",\n  \"lunes\",\n  \"martes\",\n  \"miercoles\",\n  \"miércoles\",\n  \"jueves\",\n  \"viernes\",\n  \"sabado\",\n  \"sábado\",\n  \"domingo\",\n  \"pasado\"\n];\n\nconst palabras = mensajeActualLimpio.split(\" \").filter(Boolean);\nconst palabrasProducto = palabras.filter(p => !palabrasRelleno.includes(p));\nconst textoProducto = palabrasProducto.join(\" \");\n\n// ---------- Papa ----------\nconst mencionaPapa = palabrasProducto.includes(\"papa\");\n\nconst especificaPapa =\n  palabrasProducto.includes(\"negra\") ||\n  palabrasProducto.includes(\"criolla\");\n\nconst mencionaPapaNoDisponible =\n  mencionaPapa &&\n  (\n    palabrasProducto.includes(\"pastusa\") ||\n    palabrasProducto.includes(\"pastosa\")\n  );\n\nconst esPapaAmbigua = mencionaPapa && !especificaPapa;\n\n// ---------- Plátano ----------\nconst mencionaPlatano =\n  palabrasProducto.includes(\"platano\") ||\n  palabrasProducto.includes(\"plátano\");\n\nconst especificaPlatano =\n  palabrasProducto.includes(\"guineo\") ||\n  palabrasProducto.includes(\"harton\") ||\n  palabrasProducto.includes(\"hartón\") ||\n  palabrasProducto.includes(\"verde\");\n\nconst esPlatanoAmbiguo = mencionaPlatano && !especificaPlatano;\n\n// ---------- 5. Construir respuesta ----------\nlet es_producto_ambiguo = false;\nlet grupo_ambiguo = null;\nlet respuesta_base = \"\";\n\nif (mencionaPapaNoDisponible || esPapaAmbigua) {\n  es_producto_ambiguo = true;\n  grupo_ambiguo = \"papa\";\n\n  staticData.contextos_ambiguos_mercoia[claveContexto] = {\n    grupo_ambiguo,\n    mensaje_original: mensaje_usuario_original,\n    creado_en: Date.now()\n  };\n\n  respuesta_base = `🔎 Encontré más de una opción relacionada con papa.\n\n¿Cuál precio deseas consultar?\n\n🥔 Papa negra\n🥔 Papa criolla\n\nPuedes responder solo con una de las dos opciones.`;\n}\n\nelse if (esPlatanoAmbiguo) {\n  es_producto_ambiguo = true;\n  grupo_ambiguo = \"platano\";\n\n  staticData.contextos_ambiguos_mercoia[claveContexto] = {\n    grupo_ambiguo,\n    mensaje_original: mensaje_usuario_original,\n    creado_en: Date.now()\n  };\n\n  respuesta_base = `🔎 Encontré más de una opción relacionada con plátano.\n\n¿Cuál precio deseas consultar?\n\n🍌 Plátano guineo\n🍌 Plátano hartón verde\n\nPuedes responder solo con una de las dos opciones.`;\n}\n\n// ---------- 6. Si no hay ambigüedad, limpiar contexto viejo ----------\nif (!es_producto_ambiguo && contextoPendiente) {\n  delete staticData.contextos_ambiguos_mercoia[claveContexto];\n}\n\n// ---------- 7. Salida ----------\nreturn [\n  {\n    json: {\n      ...entrada,\n      instancia_ws,\n      telefono,\n      id_mensaje,\n\n      mensaje_usuario_original,\n      mensaje_usuario: mensaje_usuario_original,\n      mensaje_limpio: mensajeActualLimpio,\n      texto_producto_detectado: textoProducto,\n\n      es_producto_ambiguo,\n      grupo_ambiguo,\n      producto_resuelto_desde_contexto: false,\n      producto_resuelto: null,\n      contexto_usado: false,\n\n      respuesta_base\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        16
      ],
      "id": "db9bbab7-ed96-5e6c-b03b-02dd44e6d3c3",
      "name": "Code: Detectar producto ambiguo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2d5c7222-7543-4760-a195-2399eea986a3",
              "leftValue": "={{ $json.es_producto_ambiguo }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        192,
        16
      ],
      "id": "ee39cffe-4b58-5e3a-8831-d6fc19ed4dcb",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $json.instancia_ws }}",
        "remoteJid": "={{ $json.telefono.replaceAll('@s.whatsapp.net', '') }}",
        "messageText": "={{ $json.respuesta_base }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        352,
        -160
      ],
      "id": "35585b0f-dbeb-5c41-91ca-46b81c7dbb28",
      "name": "Send Text - aclarar producto"
    }
  ],
  "connections": {
    "Webhook2": {
      "main": [
        [
          {
            "node": "Variables3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables3": {
      "main": [
        [
          {
            "node": "Code: Detectar saludo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Descargar XLSX1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar XLSX1": {
      "main": [
        [
          {
            "node": "Leer XLSX1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer XLSX1": {
      "main": [
        [
          {
            "node": "Detectar nombre correcto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Normalizador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "Agente Normalizador",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Detectar nombre correcto": {
      "main": [
        [
          {
            "node": "Agente Normalizador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Normalizador": {
      "main": [
        [
          {
            "node": "Code: obtener precios reales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar URLs SIPSA candidatas": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Send Text - no se encontró base reciente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: obtener precios reales": {
      "main": [
        [
          {
            "node": "Send Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Detectar saludo": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send Text - bienvenida",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Text - despedida",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Detectar producto ambiguo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Detectar producto ambiguo": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send Text - aclarar producto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generar URLs SIPSA candidatas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
